body {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.anime-card {
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.anime-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.anime-card a {
  display: block;
  text-decoration: none;
  color: white;
}

.anime-card h3 {
  margin-top: 0;
}

/* Anime description */
.animeResults {
  font-family: Spectral, serif;
  font-size: 20px;
  margin: auto;
  width: 70%;
  padding: 10px;
  float: center-right;
  text-align: justify;
}

/* Manga description */
.mangaResults {
  font-family: Spectral, serif;
  font-size: 20px;
  margin: auto;
  width: 70%;
  padding: 10px;
  float: center-right;
  text-align: justify;
}

/* Anime & Manga Image */
.left-image {
  float: left;
  size: 225 319px;
  margin-right: 150px;
  margin-left: 150px;
}

/* Header */
  h1 {
    color: #C5C6C7;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
    strong {
      color: #66FCF1;
    }

/* search button */
.button {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2B7A78;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

    .button:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }

    @media (min-width: 768px) {
    .button {
      padding: 0.25em 0.75em;
    }
  }

/* text box */
input {
  padding: 4px 8px;
  border-radius: 4px;
}

/* Style the header */
.header {
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #17252A;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #45A29E;
}

.comment {
  margin: 20px 0; /* add margin-top and margin-bottom */
  padding: 10px; /* add padding around the entire comment section */
  font-size: 14px
}

.button2 {
  align-items: center;
  background-color: #E1F1FD;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 30px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  float: 
}

.button2:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button2:hover:after {
  transform: translate(0, 0);
}

.button2:active {
  background-color: #E1F1FD;
  outline: 0;
}

.button2:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button2 {
    padding: 0 15px;
  }
}

/* forum.html comment section */
.newsletter {
  background-color: #17252A;
  border-radius: 4px;
  box-shadow: 0 0 10px #66FCF1;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 14px;
}

#comment-form {
  text-align: left;
}

#comment-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #17252A;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

.form-section {
  margin-bottom: 20px;
}

.username-position {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.comment-position {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}


.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 10px #66FCF1;
}

.username {
  font-weight: bold;
  margin-bottom: 15px;
}

.comment-body {
  padding: 10px;
}

.comment-body p {
  margin-bottom: 10px;
}

.comment-no-shadow {
  box-shadow: none; /* Remove box shadow */
}

/* video.html chat section */
.chat-section {
  width: 30%;
  margin-left: 20px;
  padding: 20px;
  background-color: #17252A;
  border-radius: 10px;
  box-shadow: 0 0 10px #66FCF1;
}

.chat-list {
  margin-top: 20px;
}

.chat {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #66FCF1;
}

.chat:last-child {
  border-bottom: none;
}